{% extends "shop/nav.html" %}

{% load static %}

{% block title %}<title>Change Password</title>{% endblock %}

{% block main %}
<section class="password-block">
	<div class="password-top">
		<img src="{% static 'shop/images/bg-top-contact_us.png' %}" alt="image" class="image">
        <h1>Change password</h1>
	</div>
	<form action="/shop/profile/change_password/" method="POST">
		{% csrf_token %}
		<div class="password-wrapper">
			<div>
				<label for="{{ form.old_password.id_for_label }}">Old password:</label>
                {{ form.old_password }}
			</div>
			<div class="errors-passwords">
              	{{ form.old_password.errors}}
            </div>
            <div>
				<label for="{{ form.new_password1.id_for_label }}">New password:</label>
                {{ form.new_password1 }}
			</div>
			<div class="errors-passwords">
              	{{ form.new_password1.errors}}
            </div>
            <div>
				<label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                {{ form.new_password2 }}
			</div>
			<div class="errors-passwords">
              	{{ form.new_password2.errors}}
            </div>
            <div class="errors-passwords">
                   {{ form.non_field_errors }}
            </div>
            <div class="submit">
              	   <button type="submit">Submit</button>
            </div>
			
		</div>
		
	</form>
	
</section>



{% endblock %}