{% extends "shop/nav.html" %}

{% load static %}

{% block title %}<title>Password_Reset_Confirm</title>{% endblock %}

{% block main %}

  {% if validlink %}
  <section class="registration-block">
    
      <div class="registration-header">
         <h2>Password reset confirm</h2>
      </div>
      <form method="POST">
          {% csrf_token %}
          <div class="registration-wrapper">
              <div class="password">
                   <label for="{{ form.new_password1.id_for_label }}">Password: </label>
                   {{ form.new_password1 }}
              </div>
               <div class="errors">
                   {{form.new_password1.errors}}
              </div>
              <div class="password-confirmation">
                   <label for="{{ form.new_password2.id_for_label }}">Password confirmation: </label>
                   {{ form.new_password2 }}
              </div>
               <div class="errors">
                  {{form.new_password2.errors}}
              </div>
              <div class="errors">
                  {{ form.non_field_errors }}
              </div>
              <div class="submit">
                   <button type="submit">Submit</button>
              </div>
          </div>
      </form>
  </section>
  {% else %}
  <div class="password-rese-confirm">
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    </div>
  {% endif %}






{% endblock %}