{% extends "shop/nav.html" %}

{% load static %}

{% block title %}<title>Password Reset</title>{% endblock %}

{% block main %}

 <section class="registration-block">
  	
      <div class="registration-header">
  		   <h2>Password Reset</h2>
      </div>
      <form action="/shop/password_reset/" method="POST">
      	  {% csrf_token %}
      	  <div class="registration-wrapper">
              <div class="email-registration">
              	   <label for="{{ form.email.id_for_label }}">Email: </label>
              	   {{ form.email }}
              </div>
              <div class="errors">
              	   {{form.email.errors}}
              </div>
              <div class="errors">
                  {{ form.non_field_errors }}
              </div>
              <div class="submit">
              	   <button type="submit">Submit</button>
              </div>
          </div>
      </form>
  </section>





{% endblock %}