a{
	text-decoration: none;
}

body{
	background-color: #fff;
	font: 18px Arial, Helvetica, sans-serif;
	width: 100%;
}

@media screen and (min-width: 750px){
	body{
		width: 91.429%;
	    margin: 30px 4.2855%;
	}
}

header{
	width: 100%;
}

.logo{
	margin-bottom: 15px;
}

@media screen and (min-width: 650px){
	.logo{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 15px;
	}
}

.authorization-block{
	padding: 10px 5px;
	background-color: #ddd;

}

.authorization-block a{
	color: #000;
	padding: 0 5px;
}

.authorization-block a:hover{
	text-decoration: underline;
}

.logout-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.logout-block p{
	margin-right: 20px;
}

.logout-block a{
	color: #000;
	padding: 10px 15px;
	background-color: #ddd;
}

.logout-block a:hover{
	text-decoration: underline;
}

.nav{
    overflow: hidden;
    background-color: #218cc8;
    width: 100%;
}

@media screen and (min-width: 750px){
	.nav{
		height: 50px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	    -webkit-box-align: center;
	    	-ms-flex-align: center;
	        	align-items: center;
		-ms-flex-pack: distribute;
	    	-webkit-box-pack: justify;
		        justify-content: space-between; 
	}
}

.nav a{
	float: left;
	display: none;
	text-align: center;
	padding: 14px 16px;
	color: #fff;
}


@media screen and (min-width: 1024px){
	.nav a{
		font-size: 20px;
	    font-weight: bold;
	}
}

.nav a.current{
	background-color: #ddd;
	color: black;
}

.nav a:first-child{
	display: block;
}

.nav a:hover{
	background-color: #ddd;
	color: black;
}

@media screen and (min-width: 750px){
	.nav a:not(:last-child){
		display: block;
	}
}

.nav a.icon{
	float: right;
	display: block;
	padding: 12.5px 16px;
}

@media screen and (min-width: 750px){
	.nav a.icon{
		display: none;
	}
}

.nav.responsive .icon{
	position: absolute;
	right: 0;
	top: 80px;
}

.nav.responsive a{
	float: none;
	display: block;
	text-align: left;
}

.top-section{
	background: url("../images/bg-top-section.png") no-repeat;
	background-size: 100% 100%;
	margin-top: 20px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;

}

.top-section h1{
	font-size: 35px;
	font-weight: bold;
	color: #5290b4;
	margin: 20px 25px 10px 0;
}

.top-section h3{
	font-size: 18px;
	font-weight: bold;
	color: #88abbf;
	margin-right: 25px;
}

.top-section a{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 12px 24px 14px 25px;
	background-color: #f28221;
	margin: 25px 25px 20px 0;
}

.search-section{
	margin-top: 20px;
	padding-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
	border-bottom: 1px dotted #b1c7de;
}

.left-form input{
	font-size: 16px;
	font-weight: bold;
	color: #a2a1a1;
	background-color: #ededed;
	border: 1px solid #dededd;
	padding: 11px 12px 13px 16px;
}

.left-form input.current{
	color: #146492;
	background-color: #dfedf5;
	border: 1px solid #c5e2f3;
}

.right-form input[name="search"]{
	font-size: 16px;
	font-weight: bold;
	color: #637f51;
	background-color: #c5debb;
	border: 1px solid #a5c796;
	padding: 12px;
}

.right-form input[name="products"]{
	font-size: 16px;
	border: 3px solid #c5debb;
	-webkit-box-shadow: 0 0 0 1px #a5c796;
	        box-shadow: 0 0 0 1px #a5c796;
	padding: 9px 50px 9px 10px;
}

.items{
	margin-top: 25px;
	border-bottom: 1px dotted #b1c7de;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@media only screen and (min-width: 650px){
	.items{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
}

@media only screen and (min-width: 1050px){
	.items{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
}

@media only screen and (min-width: 1300px){
	.items{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
}

.product-wrapper{
	max-width: 100%;
	padding-bottom: 25px;
}

@media only screen and (min-width: 650px){
	.product-wrapper{
		width: 50%;
	}
}

@media only screen and (min-width: 1024px){
	.product-wrapper{
		width: 33.333%;
	}
}

@media only screen and (min-width: 1300px){
	.product-wrapper{
		width: 25%;
	}
}

.product-photo{
	border: 9px solid #dfedf5;
	-webkit-box-shadow: 0 0 0 1px #c5e2f3;
	        box-shadow: 0 0 0 1px #c5e2f3;
	height: 281px;
	width: 281px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.product-photo img{
	max-height: 100%;
	display: block;
	margin: auto;
}

.price{
	color: #444545;
	font-weight: bold;
	font-size: 18px;
}

.money{
	color: #4c9242;
}

.product h3{
	color: #146492;
	font-weight: bold;
	font-size: 18px;
}

.pagination{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 100%;
	background-color: #dfedf5;
	margin: 10px 0;
}

.pagination div{
	padding: 16px 19px;
	background-color: #218cc8;
	margin-right: 10px;
	display: none;
}

@media only screen and (min-width: 650px){
	.pagination div{
		display: block;
    }
}

.pagination a{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.pagination .previous{
	margin-right: auto;
	display: block;
}

.pagination .next{
	margin-left: auto;
	margin-right: 0;
	display: block;
}

.pagination span{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.pagination div.disabled{
	background-color: #a5bfcf;
}

.pagination div.active{
	background-color: #125c87;
}

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}

footer p{
	color: #50868a;
	font-size: 11px;
    line-height: 18px;
}

footer div{
    margin-right: 8px;
}

footer div span{
	color: #50868a;
	margin-left: 8px;
}

footer div a{
	color: #50868a;
	font-size: 11px;
}

.mini-pagination{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

/*ABOUT PAGE BEGIN*/

.about{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.about-top{
	margin-top: 20px;
}

.about-top img{
	width: 100%;
}

.about-top h1{
	color: #5290b4;
	font-size: 35px;
	font-weight: bold;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.about-content{
	width: 100%;
}

@media screen and (min-width: 750px){
	.about-content{
	    width: 60%;
    }
}

.about-content img{
	margin: 20px 0;
	width: 100%;
}

.about-content p{
	color: #2c2c2c;
	font-size: 12px;
	line-height: 17px;
}
/*ABOUT PAGE END*/

/*CONTACT US PAGE BEGIN*/

.contact{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.contact-top{
	margin-top: 20px;
}

.contact-top img{
	width: 100%;
}

.contact-top h1{
	color: #5290b4;
	font-size: 35px;
	font-weight: bold;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.contact-content{
	width: 100%;
}

@media screen and (min-width: 750px){
	.contact-content{
	    width: 60%;
    }
}



.contact-content p{
	color: #2c2c2c;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 20px;
}


.form-wrapper label{
	color: #47677a;
	font-weight: bold;
	font-size: 14px;
}

.form-wrapper input, .form-wrapper textarea{
	border: 1px solid #d1e3ee;
	background-color: #dfedf5;
	margin-bottom: 10px;
}

.first_name input{
	width: 45%;
	height: 35px;
}

.last_name input{
	width: 45%;
	height: 35px;
}

.email input{
	width: 100%;
	height: 35px;
}

.message textarea{
	width: 100%;
	height: 270px;
	resize: none;
}

.form-wrapper input[type="submit"]{
	color: #637f51;
	font-weight: bold;
	font-size: 16px;
	background-color: #c5debb;
	border: 1px solid #a5c796;
	padding: 12px 15px;
}

/*CONTACT US PAGE END*/

/*ITEM PAGE BEGIN*/

.item-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 20px 0;
}

.item-block .product-photo{

}

.item-block .description{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 40px;
	max-width: 500px;
}

.item-block h3{
    color: #146492;
    font-size: 18px;
    font-weight: bold;
}

.item-block p{
	color: #2c2c2c;
	font-size: 14px;
	margin: 20px 0;
}

.item-block .price{
	font-size: 18px;
}

.item-block .description a{
	margin-top: auto;
	margin-right: auto;
	color: #fff;
	background-color: #3535c8;
	padding: 10px 20px;
}

/*ITEM PAGE END*/

/*SIGN UP PAGE BEGIN*/

.registration-block{
	margin: 50px auto;
	padding: 30px 0;
	width: 90%;
	background-color: #e1d3e7;
	border-radius: 5px;
}

@media screen and (min-width: 650px){
	.registration-block{
		margin: 50px auto;
		padding: 30px 0;
		width: 60%;
		background-color: #e1d3e7;
		border-radius: 5px;
	}
}

@media screen and (min-width: 1050px){
	.registration-block{
		margin: 50px auto;
		padding: 30px 0;
		width: 35%;
		background-color: #e1d3e7;
		border-radius: 5px;
	}
}

.registration-block .registration-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: bold;
}

.registration-wrapper{
	margin: 0 auto;
	width: 90%;
} 

.registration-wrapper div{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-bottom: 10px;
}

.registration-wrapper div.errors{
	font-size: 14px;
	color: #cd4126;
	margin-bottom: 20px;
}

.registration-wrapper input{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 24px;
}

.registration-wrapper div.submit{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.registration-wrapper button[type="submit"]{
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
	background-color: #711c99;
	border: 1px solid #a5c796;
	padding: 12px 25px;
	border-radius: 3px;
}



.registration-wrapper div label{
	margin-right: 10px;
	font-size: 14px;
}

@media screen and (min-width: 650px){
	.registration-wrapper div label{
		margin-right: 10px;
		font-size: 16px;
	}
}

@media screen and (min-width: 1050px){
	.registration-wrapper div label{
		margin-right: 10px;
		font-size: 18px;
	}
}

/*SIGN UP PAGE END*/

/*LOGIN PAGE BEGIN*/

.login-block{
	margin: 50px auto;
	padding: 30px 0;
	width: 90%;
	background-color: #e1d3e7;
	border-radius: 5px;
}

@media screen and (min-width: 650px){
	.login-block{
		margin: 50px auto;
		padding: 30px 0;
		width: 60%;
		background-color: #e1d3e7;
		border-radius: 5px;
	}
}

@media screen and (min-width: 1050px){
	.login-block{
		margin: 50px auto;
		padding: 30px 0;
		width: 35%;
		background-color: #e1d3e7;
		border-radius: 5px;
	}
}

.login-block .login-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: bold;
}

.login-wrapper{
	margin: 0 auto;
	width: 90%;
} 

.login-wrapper div{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-bottom: 10px;
}

.login-wrapper div.errors{
	font-size: 14px;
	color: #cd4126;
	margin-bottom: 20px;
}

.login-wrapper input{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 2px;
	height: 30px;
	width: 200px;
	background-color: #dfedf5;
}

.login-wrapper div.submit{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.login-wrapper button[type="submit"]{
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
	background-color: #711c99;
	border: 1px solid #a5c796;
	padding: 12px 25px;
	border-radius: 3px;
}



.login-wrapper div label{
	margin-right: 40px;
	font-size: 14px;
}

@media screen and (min-width: 650px){
	.login-wrapper div label{
		margin-right: 40px;
		font-size: 16px;
	}
}

@media screen and (min-width: 1050px){
	.login-wrapper div label{
		margin-right: 40px;
		font-size: 18px;
	}
}

.login-block .login-wrapper div a{
	font-size: 14px;
}

.login-block .login-wrapper div a:hover{
    text-decoration: underline;
}

.login-block .login-wrapper .social-links a{
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-bottom: 20px;
}

.login-block .login-wrapper .social-links .github{
	background-image: url("../images/github.png");
}

.login-block .login-wrapper .social-links .google{
	background-image: url("../images/google.jpg");
}

.login-block .login-wrapper .social-links .facebook{
	background-image: url("../images/facebook.jpg");
} 

.login-block .login-wrapper .social-links .twitter{
	background-image: url("../images/twitter.png");
}  

/*LOGIN PAGE END*/


/*EDIT PROFILE PAGE BEGIN*/

.profile-block{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.profile-block .profile-top{
    margin-top: 20px;
}

.profile-block .profile-top img{
	width: 100%;
}

.profile-block .profile-top h1{
	font-size: 35px;
	font-weight: bold;
	color: #5290b4;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.profile-block .profile-wrapper{
	width: 100%;
}

@media screen and (min-width: 900px){
	.profile-block .profile-wrapper{
	    width: 65%;
    }
}

@media screen and (min-width: 1200px){
	.profile-block .profile-wrapper{
	    width: 50%;
    }
}

.profile-block .profile-wrapper label{
	color: #47677a;
	font-weight: bold;
	font-size: 14px;
	margin-right: 20px;
}

.profile-block .profile-wrapper input{
	border: 1px solid #d1e3ee;
	background-color: #dfedf5;
	margin-bottom: 10px;
}

.profile-block .profile-wrapper .input-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}

.profile-block .profile-wrapper .input-wrapper input{
	width: 60%;
	height: 35px;
}

@media screen and (min-width: 750px){
	.profile-block .profile-wrapper .input-wrapper input{
	    width: 80%;
    }
}

.profile-block .profile-wrapper .submit{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.profile-block .profile-wrapper .submit button{
	color: #637f51;
	font-weight: bold;
	font-size: 16px;
	background-color: #c5debb;
	border: 1px solid #a5c796;
	padding: 12px 15px;
}

.profile-block .profile-wrapper .password-form p{
    font-size: 14px;
}
.profile-block .profile-wrapper .password-form p a{
	text-decoration: underline;
}

/*EDIT PROFILE PAGE END*/

/*CHANGE PASSWORD PAGE BEGIN*/
.password-block{
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.password-block .password-top{
    margin-top: 20px;
}

.password-block .password-top img{
	width: 100%;
}

.password-block .password-top h1{
	font-size: 35px;
	font-weight: bold;
	color: #5290b4;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px dotted #b1c7de;
}

.password-block .password-wrapper{
	width: 100%;
}

@media screen and (min-width: 900px){
	.password-block .password-wrapper{
	    width: 80%;
    }
}

@media screen and (min-width: 1200px){
	.password-block .password-wrapper{
	    width: 70%;
    }
}

.password-block .password-wrapper label{
	color: #47677a;
	font-weight: bold;
	font-size: 14px;
	margin-right: 20px;
}

.password-block .password-wrapper input{
	border: 1px solid #d1e3ee;
	background-color: #dfedf5;
	margin-bottom: 10px;
}

.password-block .password-wrapper div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 10px;
}

.password-block .password-wrapper div input{
	width: 55%;
	height: 35px;
}

@media screen and (min-width: 750px){
	.password-block .password-wrapper div input{
	    width: 70%;
    }
}

.password-block .password-wrapper .submit{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.password-block .password-wrapper .submit button{
	color: #637f51;
	font-weight: bold;
	font-size: 16px;
	background-color: #c5debb;
	border: 1px solid #a5c796;
	padding: 12px 15px;
}

.password-block .password-wrapper .errors-passwords{
	font-size: 14px;
	color: #cd4126;
	margin-bottom: 20px;
}
/*CHANGE PASSWORD PAGE END*/


/*PASSWORD RESET DONE PAGE BEGIN*/

.password-reset-done{
	margin: 30px 0;
}

.password-reset-done p{
	font-size: 16px;
	margin-bottom: 10px;
}
/*PASSWORD RESET DONE PAGE END*/

/*PASSWORD RESET COMPLETE PAGE BEGIN*/

.password-reset-complete{
	margin: 30px 0;
}

.password-reset-complete p{
	font-size: 16px;
}

.password-reset-complete p a:hover{
	text-decoration: underline;
}
/*PASSWORD RESET COMPLETE PAGE END*/

/*PASSWORD RESET CONFIRM PAGE BEGIN*/

.password-rese-confirm{
	margin: 30px 0;
}

.password-rese-confirm p{
	font-size: 16px;
}

/*PASSWORD RESET CONFIRM PAGE END*/


